




body {
	color: #fff;
	font-family: 'Roboto', sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	/*background-color: ;*/
	background: #000;
	margin: 0;
	height: 100vh;
	position:fixed;
}



.logo__image {
	/*background: #FFFFFF;*/
	/*background: rgba(255, 255, 255, 0.5);*/
	width: 36.07px;
    height: 36.07px;
    /*stroke: transparent;*/
    /*stroke-width: 0px;*/
}

.card {
	/*height: 40%; */

}

.info {
	/*margin-top: 40%;*/
	position: absolute;
	top: 40vh;
	background-color: #000;
	width: 100%;
	height: 60%;
	padding-left: 13vh; 
	/*border: solid;*/

}

.info__name {
	font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 9.5vw;
line-height: 28px;
/*font-variant: small-caps;*/

margin-top: 7vh;


color: rgba(255, 255, 255, 0.9);
}

.content__logo {
	width: 100%;
	height: 100%;
}

.photo {
	height: 40%;
	width: 100%;
}

.info__position {
	margin-top: 3.5vh;

	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 7.5vw;
	line-height: 19px;
	font-variant: small-caps;
	word-wrap: break-word;
	
	color: rgba(255, 255, 255, 0.9);
}




a {
	text-decoration: none;

}


.contacts__address {
	font-family: Roboto;
font-style: normal;
font-weight: 300;
font-size: 5vw;
line-height: 5.94vw;
font-variant: small-caps;
color: rgba(255, 255, 255, 0.8);

	margin-top: 4vh;

	/*font-feature-settings: 'pnum' on, 'lnum' on;*/
	font-feature-settings: "c2sc", "smcp"; 


}

.telegram__button {
	/*margin-top: 26px;*/
	box-sizing: border-box;
	opacity: 0.5;
	position: absolute;
	bottom: 3vh;

}

.telegram__button:hover {
	/*color: #fff;*/
	opacity: 1;


	/*background: #fff;*/


}

.vl {
	float: left;

	margin-top: -16.84px;

}

.vl2 {
	/*width: 243.407084‬px; 296.99 - 0.661458 - 52.26 = 243,407084‬*/
	/*height: 44px;*/
	/*border: solid;*/
	/*float: right;*/

	/*text-align: center;*/
	/*vertical-align: middle;*/

	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 7.81vw;
	line-height: 3px;
	/* identical to box height */

	margin-left: 46.43px; /*19+7.27=26.43*/
	/*margin-bottom: -100%;*/
	
	font-variant: small-caps;

	/*margin-top: -10px;*/
	color: #fff;
	
	/*color: rgba(255, 255, 255, 0.5);*/
}



